@model AJAXbeginform.Models.Student
@{
    ViewBag.Title = "Index";
}

<div style="display:none" id="loader">
    <img src="~/Content/Bounce-Bar-Preloader-1.gif" height="100" width="100" />

</div>

@using (Ajax.BeginForm("Index", new AjaxOptions()
{
    OnSuccess = "fnsuccess",
    OnFailure = "fnfailure",
    HttpMethod="POST",
    LoadingElementId="loader",
    LoadingElementDuration= 2000
}))
{
    <div>
        @Html.EditorFor(x => x.Name) <br />
        @Html.EditorFor(x => x.Email) <br />
        @Html.EditorFor(x => x.Address) <br />

        <input type="submit" value="click me" />
    </div>
}
<script>
    function fnsuccess(data) {
        console.log(data);
    }
    function fnfailure(err) {
        console.log(err);
    }
</script>