
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <form>
        <div>
            <input type="text" id="stdid" placeholder="Id" />
        </div>
        <div>
            <input type="text" id="stdname" placeholder="Name" />
        </div>
        <div>
            <input type="text" id="stdaddress" placeholder="Address" />
        </div>

        <input type="submit" onclick="BtnClick()" value="click me" />
    </form>
</body>
</html>

<script type="text/javascript">

    function BtnClick() {
        var id = $("#stdid").val();
        var name = $("#stdname").val();
        var add = $("#stdaddress").val();

        var obj = {
            Id:id,
            Name:name,
            Address:add,

        }
        onsub(obj);
    }

    function onsub(obj) {

        $.ajax({
            url: "/Home/AddStudents",
            method: "POST",
            data: obj,
            success: function (data) {

                data = JSON.parse(data);
                console.log(data);

            },
            error: function (err) {

                console.log(err);
            }
        })
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>